* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.nav {
  display: flex;
  background-color: #ff0000;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 3px 3rem;
}

.nav_header {
  font-weight: bold;
  border-bottom: solid 5px #ffff;
  font-size: 22px;
  margin: 0;
}

.nav_links {
  display: flex;
  list-style: none;
  width: 500px;
  justify-content: space-around;
  align-items: center;
}

.nav_links a {
  text-decoration: none;
  color: white;
}

.nav_links a:hover {
  font-weight: bold;
  border-bottom: solid 3px #ffff;
}

.main {
  padding-inline: 3rem;
}

.main_title {
  text-align: center;
  border-bottom: solid 1px #ff0000;
  padding-bottom: 1rem;
}

.main_section-links {
  list-style: none;
  width: 50%;
  padding: 30px;
  background-color: #ff0000;
  border-radius: 7px;
  margin-inline: auto;
}

.main_section-links li {
  padding: 10px 0;
}

.main_section-links li:hover {
  background-color: #fff;
  color: #ff0000;
  padding: 5px 15px;
}

.main_section-links li:hover a {
  color: #ff0000;
  font-weight: bold;
}

.main_section-links a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
